<ng-template #modal>
    <div class="modal-header">
        <h3 class="modal-title">{{ modalConfig.modalTitle }}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="buildForm">
                    <div class="row">
                        <div class="col-md-6" *ngIf="modalConfig.modal == 'students'">
                            <mat-form-field class="w-100">
                                <mat-label>Name*</mat-label>
                                <input type="text" matInput formControlName="name">

                            </mat-form-field>
                            <span *ngIf="buildForm.controls.name.invalid && buildForm.controls.name.touched">
                              <span class="text-danger" *ngIf="buildForm.controls.name.errors.required">Name Required</span>
                            </span>
                        </div>
                        <div class="col-md-6" *ngIf="modalConfig.modal == 'students'">
                            <mat-form-field class="w-100">
                                <mat-label>Grade*</mat-label>
                                <input type="number" matInput formControlName="grade">

                            </mat-form-field>
                            <span *ngIf="buildForm.controls.grade.invalid && buildForm.controls.grade.touched">
                              <span class="text-danger" *ngIf="buildForm.controls.grade.errors.required">Grade Required</span>
                            </span>
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>Course*</label>
                            <br>
                            <select formControlName="CourseName" class="w-100 border-1 p-1" name="CourseName">
                            <option *ngFor="let course of coursesModal" [value]="course">
                                {{course}}
                            </option>
                        </select>
                            <span *ngIf="buildForm.controls.CourseName.invalid && buildForm.controls.CourseName.touched">
                          <span class="text-danger" *ngIf="buildForm.controls.CourseName.errors.required">Courses Required</span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <!-- <ng-content select=".btn"></ng-content> -->
        <ng-container *ngIf="modalConfig.type == 'AddStudent'">
            <div class="btn">
                <button class="btn btn-success" type="button" [disabled]="buildForm.invalid" (click)="addStudent();close()">save</button>
                <button class="btn btn-danger mx-2" (click)="close()">cancel</button>
            </div>
        </ng-container>

        <ng-container *ngIf="modalConfig.type == 'EditStudent'">
            <div class="btn">
                <button class="btn btn-success" [disabled]="buildForm.invalid" (click)="EditStudent();close()">Edit</button>
                <button class="btn btn-danger mx-2" (click)="close()">cancel</button>
            </div>
        </ng-container>

        <ng-container *ngIf="modalConfig.type == 'addCourse'">
            <div class="btn">
                <button class="btn btn-success" (click)="addCourse();close()">save</button>
                <button class="btn btn-danger mx-2" (click)="close()">cancel</button>
            </div>
        </ng-container>

        <ng-container *ngIf="modalConfig.type == 'EditCourse'">
            <div class="btn">
                <button class="btn btn-success" (click)="EditCourse();close()">Edit</button>
                <button class="btn btn-danger mx-2" (click)="close()">cancel</button>
            </div>
        </ng-container>
    </div>
</ng-template>
