<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="w-100">
                <button class="btn btn-success mt-3" (click)="openModal()">AddStudent</button>
                <app-modal #modal [modalConfig]="ModalConfig" (data)="itemsValue = $event">

                </app-modal>
            </div>
            <div class=" w-100 mt-3 ">
                <div>
                    <label>Filter With Courses</label>
                    <br>

                    <select class="w-75 p-1" (change)="updatestudentsByCourses()" name="selectedCourse" [(ngModel)]="selectedCourse">
                    <option *ngFor="let course of courses" [value]="course">
                        {{course}}
                    </option>
                    </select>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let item of studentService.filterStudents;">

            <div class="col-md-3 col-lg-2 card mt-3 ">
                <img [src]="item.avatar " alt=" ">
                <button class="text-center mt-2 btn edit_button" (click)="openEditModal();id=item.id">{{item.name}}</button>
                <app-modal #Editmodal [modalConfig]="ModalConfigEdit" [ItemId]="id">
                </app-modal>
                <button class="btn btn-danger mb-3" (click)="openDialog(delete) ">Delete</button>
                <input type="hidden" id="hiddenValueId" [value]="item.id">
                <ng-template #delete>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <h3>Delete Student
                            </h3>
                            <p>Are You Sure You Want To Delete ?</p>
                            <button class="col-md-5 btn btn-danger mt-3 mb-3 " (click)="deleteStudent(item.id);closeDailog() ">Yes</button>
                            <button class="col-md-5 mx-2 btn btn-secondary mt-3 mb-3 " (click)="closeDailog() ">No</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-container>

        <div class="w-100 ">
            <i class="fa fa-spinner mt-5 text-center text-dark-blue fa-spin fa-2x " *ngIf="studentService.isLoading" aria-hidden="true "></i>
        </div>
        <ng-container *ngIf="studentService.filterStudents.length == 0">
            <p class="text-center mt-5 h3">Not Found</p>
        </ng-container>
    </div>

</div>